<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>

<h3>
    <div class="container">
           Access Medical services around you
    </div>

</h3>

<form action="/View_all", method="POST">
    <div class="container">
        <div class="form-group">
        <label for="usr">Address</label>
        <input type="text" class="form-control" id="usr" name = "address" placeholder="Enter valid address only">
        </div>


            <div class="form-group">
                  <label for="sel1">Within radius:</label>
                  <select class="form-control" id="sel1" name="km">
                    <option value="2">2 kms</option>
                    <option value="5"> 5 kms</option>
                    <option value="7">7 kms</option>
                    <option value="10">10 kms</option>
                  </select>
                </div>


        <button type="submit" class="btn btn-primary">View Map</button>


     </div>

</form>















        <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
